@model NewsViewModel
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.rtl.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="fonts/flaticon.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="css/boxicons.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="css/nice-select.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="css/meanmenu.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- RTL CSS -->
    <link rel="stylesheet" href="css/rtl.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/images/favicon.png">

    <title> اولکس - الگوی HTML تجارت الکترونیکی چند منظوره </title>
</head>

<body class="body-color">
    <div class="preloader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>

    <!-- Top Header Start -->
    <header class="top-header top-header-bg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-7">
                    <div class="top-header-form">
                        <form method="post">
                            <div class="row">
                                <div class="col-lg-12 pl-0">
                                    <div class="form-group search-form">
                                        <input type="search" name="search" id="search" class="form-control" placeholder="جستجو محصولات">
                                        <button type="submit">
                                            <i class="bx bx-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5">
                    <div class="top-header-right">
                        <div class="phone-btn">
                            <span><i class='bx bx-mobile-alt'></i><a href="tel:+501-529-1747">+501-529-1747</a></span>
                        </div>

                        <div class="other-option">
                            <div class="option-item">
                                <div class="language-list">
                                    <select class="language-list-item">
                                        <option>فارسی</option>
                                    </select>
                                </div>
                            </div>
                            <div class="option-item">
                                <div class="cart-btn-area">
                                    <a href="~/Cart" class="cart-btn"><i class='bx bx-cart'></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Top Header End -->
    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <!-- Menu For Mobile Device -->
        <div class="mobile-nav">
            <a href="/" class="logo">
                <img src="~/images/logos/logo-1.png" alt="Logo">
            </a>
        </div>

        <!-- Menu For Desktop Device -->
        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light ">
                    <a class="navbar-brand" href="/">
                        <img src="~/images/logos/logo-1.png" alt="Logo">
                    </a>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a href="/" class="nav-link active">
                                    خانه
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    دسته‌بندی
                                    <i class='bx bx-chevron-down'></i>
                                </a>
                                <ul class="dropdown-menu">
                                    @foreach (var item in Model.productsCategories)
                                    {
                                        <li class="nav-item">
                                            <a href="~/FindByCategory/?categoryId=@item.CategoryId" class="nav-link">
                                                @item.CategoryName
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="~/Blog" class="nav-link">
                                    بلاگ
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="~/ContactUs" class="nav-link">
                                    ارتباط با ما
                                </a>
                            </li>

                            <li class="nav-item-btn ">
                                <a href="/Login" class="default-btn border-radius-5 btn-bg-one">وارد شوید</a>
                            </li>
                        </ul>

                        <div class="nav-btn">
                            <a href="/Login" class="default-btn border-radius-5 btn-bg-one">وارد شوید</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
    <!-- Inner Banner Area -->
    <div class="inner-banner-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="inner-banner-content">
                        <h2>اکانت من </h2>
                        <ul>
                            <li><a href="/">خانه</a></li>
                            <li><i class='bx bx-chevron-left'></i></li>
                            <li><a href="/Account/UserProfile/@Model.User.UsernameId" class="active">اکانت من</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="inner-banner-img">
                        <img src="~/images/inner-banner/inner-banner5.png" alt="Inner Banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner Banner Area End -->
    <!-- اکانت من Area -->
    <div class="my-account-area ptb-100">
        <div class="container">
            <div class="tab account-tab">
                <div class="row">
                    <div class="col-lg-4">
                        <ul class="tabs">
                            <li>
                                <a href="#">
                                    اکانت من
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    سفارشات من
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    خروج
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-8">
                        <div class="tab_content current active">
                            <div class="tabs_item current">
                                <div class="account-tab-item">
                                    <div class="account-details">
                                        <h2>پروفایل</h2>
                                        <div class="account-profile">
                                            <div class="account-profile-img" style="width: 200px; height: 200px;">
                                                <img src="~/images/users/@Model.User.ProfileImage" alt="Images">
                                            </div>
                                        </div>

                                        <div class="account-form">  
                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label type="text" class="form-control">@Model.User.Username </label>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label type="email" class="form-control">@Model.User.Email </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tabs_item">
                                <div class="account-tab-item">
                                    <div class="checkout-order">
                                        <h2>سفارشات من</h2>
                                        <h3 class="title-item">توضیحات و مبلغ مورد <span> پول نقد </span></h3>
                                        <ul class="checkout-product">
                                            @foreach (var item in Model.Carts)
                                            {
                                                <li>
                                                    @foreach (var images in Model.ProductImages.Where(a => a.ProductId == item.Product.ProductId))
                                                    {
                                                        <img src="~/images/ProductsImages/@images.ProductImage" alt="Images">
                                                    }
                                                    <h3>@item.Product.ProductName</h3>
                                                    <div class="price-tag">@item.Product.Price تومان</div>
                                                </li>
                                            }
                                        </ul>
                                        @foreach (var item in Model.Carts)
                                        {
                                            <div class="total-amount">
                                                <h3 class="total-title">مقدار کل<span>@item.Product.Price تومان</span></h3>
                                            </div>
                                        }


                                        <div class="amount-btn">
                                            <a href="#" class="default-btn btn-bg-three">بعدی</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- اکانت من Area End -->
    <!-- Footer Area -->
    <footer class="footer-area-two footer-bg pt-100">
        <div class="container">
            <div class="footer-top pb-70">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="/">
                                    <img src="~/images/logos/logo-1.png" alt="Images">
                                </a>
                            </div>
                            <p>
                                ما یکی از بهترین شرکت ها در جهان هستیم و شما می توانید به راحتی از ما خرید کنید.
                            </p>
                            <ul class="footer-list-contact">
                                <li>
                                    <i class='flaticon-placeholder'></i>
                                    <a href="#">2873  یورک شایر سیرکل ، کارولینا</a>
                                </li>
                                <li>
                                    <i class='flaticon-smartphone'></i>
                                    <a href="tel:+501-529-1747">+501-529-1747</a>
                                </li>
                                <li>
                                    <i class='flaticon-messenger'></i>
                                    <a href="mailto:hello@olex.com">hello@olex.com</a>
                                </li>
                            </ul>

                            <ul class="social-link">
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-youtube'></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3>خدمات</h3>
                            <ul class="footer-list">
                                <li>
                                    <a href="wordpress-hosting.html" target="_blank">
                                        اکانت من
                                    </a>
                                </li>
                                <li>
                                    <a href="tracking-order.html" target="_blank">
                                        پیگیری سفارش
                                    </a>
                                </li>
                                <li>
                                    <a href="customer-services.html" target="_blank">
                                        خدمات مشتریان
                                    </a>
                                </li>
                                <li>
                                    <a href="compare.html" target="_blank">
                                        مقایسه
                                    </a>
                                </li>
                                <li>
                                    <a href="wishlist.html" target="_blank">
                                        علاقه‌مندی‌ها
                                    </a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html" target="_blank">
                                        سیاست حفظ حریم شخصی
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget">
                            <h3>لینک‌های مفید</h3>
                            <ul class="footer-list">
                                <li>
                                    <a href="/" target="_blank">
                                        خانه
                                    </a>
                                </li>
                                <li>
                                    <a href="about.html" target="_blank">
                                        درباره ما
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Blog/NewsDetails" target="_blank">
                                        بلاگ جزییات
                                    </a>
                                </li>
                                <li>
                                    <a href="shop-details.html" target="_blank">
                                        جزییات محصول
                                    </a>
                                </li>
                                <li>
                                    <a href="testimonials.html" target="_blank">
                                        رضایت مشتریان
                                    </a>
                                </li>
                                <li>
                                    <a href="team.html" target="_blank">
                                        تیم
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3>ساعت کاری</h3>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            </p>
                            <ul class="footer-work-hour-list">
                                <li>
                                    <span>شنبه-پنجشنبه:</span> 8:30 قبل‌ازظهر - 5:30 بعدازظهر
                                </li>
                                <li>
                                    <span> جمعه:</span> 9:00 قبل‌ازظهر - 2:00 بعدازظهر
                                </li>
                                <li>
                                    <span>دوشنبه:</span>  بسته
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copy-right-area">
                <div class="copy-right-text">
                    <p>
                        کپی رایت 1399 اولکس. کلیه حقوق محفوظ است . ارایه از
                        <a href=" " target="_blank">AFARIDTEAM</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->
    <!-- Jquery Min JS -->
    <script src="~/js/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper Min JS -->
    <!-- <script src="~/js/popper.min.js"></script> -->
    <!-- Bootstrap Min JS -->
    <!--<script src="~/js/bootstrap.min.js"></script>-->
    <script src="~/js/bootstrap.bundle.js"></script>
    <!-- Magnific Popup Min JS -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- Nice Select Min JS -->
    <script src="~/js/jquery.nice-select.min.js"></script>
    <!-- Wow Min JS -->
    <script src="~/js/wow.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="~/js/meanmenu.js"></script>
    <!-- Ajaxchimp Min JS -->
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator Min JS -->
    <script src="~/js/form-validator.min.js"></script>
    <!-- Contact Form JS -->
    <script src="~/js/contact-form-script.js"></script>
    <!-- Mixitup Min JS -->
    <script src="~/js/mixitup.min.js"></script>
    <!-- Custom JS -->
    <script src="~/js/custom.js"></script>
</body>


</html>
